[sources.{{project_name}}]
# secrets for your {{project_name}} source
{% if credentials %}
{% for secret in credentials.detected_secret_names %}
{{ secret }} = "FILL ME OUT"  # TODO: fill in your credentials
{% endfor %}
{% else %}
# example_api_key = "example value"
{% endif %}