# {{package_name}} pipeline

Created with [dlt-init-openapi](https://github.com/dlt-hub/dlt-init-openapi) v. {{version}}

* https://dlthub.com
* https://github.com/dlt-hub/dlt
* https://github.com/dlt-hub/dlt-init-openapi

{% if credentials %}
## Credentials
This API uses {{ credentials.type }} authentication. Please fill in the required variables {{ credentials.detected_secret_names }} in your 
secrets.toml.
{% endif %}

## Available resources
{% for endpoint in endpoint_collection.all_endpoints_to_render %}
* {{ endpoint.detected_resource_name }}  
  _{{endpoint.method}} {{ endpoint.path }}_  
  {% if endpoint.description %}{{endpoint.description}}{% endif %}
{% endfor %}
