# {{package_name}} pipeline

Created with [dlt-openapi](https://github.com/dlt-hub/dlt-openapi) v. {{version}}

* https://dlthub.com
* https://github.com/dlt-hub/dlt
* https://github.com/dlt-hub/dlt-openapi

## Available resources
{% for endpoint in endpoint_collection.all_endpoints_to_render %}
* {{ endpoint.detected_resource_name }}  
  _{{endpoint.method}} {{ endpoint.path }}_  
  {% if endpoint.description %}{{endpoint.description}}{% endif %}
{% endfor %}%}
