# Source: https://gist.github.com/NiccoMlt/073b18934a6001fc5a2414c590e3b8ba
# Credit goes to Niccolò Maltoni for building the baseline version of this specification
openapi: 3.0.0
info:
  description: ''
  title: 'pokeapi'
  version: '20220523'
servers:
- url: 'https://pokeapi.co/'
paths:
  /api/v2/ability/:
    get:
      operationId: ability_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: A list of abilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of abilities available
                  next:
                    type: string
                    description: The URL for the next page of abilities (null if none)
                  previous:
                    type: string
                    description: The URL for the previous page of abilities (null if none)
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ability'
      tags:
      - ability
  /api/v2/ability/{id}/:
    get:
      operationId: ability_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this ability.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
      tags:
      - ability
  /api/v2/berry-firmness/:
    get:
      operationId: berry-firmness_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of berry firmnesses available from this API.
                    example: 5
                  next:
                    type: string
                    nullable: true
                    description: The URL for the next page of results, or null if there are no more results.
                  previous:
                    type: string
                    nullable: true
                    description: The URL for the previous page of results, or null if this is the first page.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BerryFirmness'
      tags:
      - berry-firmness
  /api/v2/berry-firmness/{id}/:
    get:
      operationId: berry-firmness_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry firmness.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BerryFirmness'
      tags:
      - berry-firmness
  /api/v2/berry-flavor/:
    get:
      operationId: berry-flavor_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of berry flavors
                    example: 5
                  next:
                    type: string
                    description: The URL to the next page of berry flavors (if any)
                    example: "https://pokeapi.co/api/v2/berry-flavor?offset=5&limit=5"
                  previous:
                    type: string
                    description: The URL to the previous page of berry flavors (if any)
                    example: null
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BerryFlavor'
      tags:
      - berry-flavor
  /api/v2/berry-flavor/{id}/:
    get:
      operationId: berry-flavor_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry flavor.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BerryFlavor'
      tags:
      - berry-flavor
  /api/v2/berry/:
    get:
      operationId: berry_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Berry'
      tags:
      - berry
  /api/v2/berry/{id}/:
    get:
      operationId: berry_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Berry'
      tags:
      - berry
  /api/v2/characteristic/:
    get:
      operationId: characteristic_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response with a list of characteristics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Characteristic'
      tags:
      - characteristic
  /api/v2/characteristic/{id}/:
    get:
      operationId: characteristic_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this characteristic.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Characteristic'
      tags:
      - characteristic
  /api/v2/contest-effect/:
    get:
      operationId: contest-effect_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        "200":
          description: "A list of contest effects"
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: "The total number of contest effects"
                  next:
                    type: string
                    nullable: true
                    description: "The URL to get the next page of contest effects (if it exists)"
                  previous:
                    type: string
                    nullable: true
                    description: "The URL to get the previous page of contest effects (if it exists)"
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContestEffect"
      tags:
      - contest-effect
  /api/v2/contest-effect/{id}/:
    get:
      operationId: contest-effect_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this contest effect.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestEffect'
      tags:
      - contest-effect
  /api/v2/contest-type/:
    get:
      operationId: contest-type_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response containing a list of contest types
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of contest types returned
                  next:
                    type: string
                    nullable: true
                    description: URL to the next page of contest types, if any
                  previous:
                    type: string
                    nullable: true
                    description: URL to the previous page of contest types, if any
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContestType'
      tags:
      - contest-type
  /api/v2/contest-type/{id}/:
    get:
      operationId: contest-type_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this contest type.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestType'
      tags:
      - contest-type
  /api/v2/egg-group/:
    get:
      operationId: egg-group_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EggGroup'
      tags:
      - egg-group
  /api/v2/egg-group/{id}/:
    get:
      operationId: egg-group_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this egg group.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EggGroup'
      tags:
      - egg-group
  /api/v2/encounter-condition-value/:
    get:
      operationId: encounter-condition-value_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response containing a list of encounter condition values
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EncounterConditionValue'
      tags:
      - encounter-condition-value
  /api/v2/encounter-condition-value/{id}/:
    get:
      operationId: encounter-condition-value_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter condition
            value.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterConditionValue'
      tags:
      - encounter-condition-value
  /api/v2/encounter-condition/:
    get:
      operationId: encounter-condition_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of encounter conditions.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of encounter conditions.
                    example: https://pokeapi.co/api/v2/encounter-condition/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of encounter conditions.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncounterCondition'
      tags:
      - encounter-condition
  /api/v2/encounter-condition/{id}/:
    get:
      operationId: encounter-condition_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter condition.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterCondition'
      tags:
      - encounter-condition
  /api/v2/encounter-method/:
    get:
      operationId: encounter-method_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of encounter methods.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of encounter methods.
                    example: https://pokeapi.co/api/v2/encounter-method/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of encounter methods.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EncounterMethod'
      tags:
      - encounter-method
  /api/v2/encounter-method/{id}/:
    get:
      operationId: encounter-method_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter method.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterMethod'
      tags:
      - encounter-method
  /api/v2/evolution-chain/:
    get:
      operationId: evolution-chain_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of evolution chains.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of evolution chains.
                    example: https://pokeapi.co/api/v2/evolution-chain/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of evolution chains.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvolutionChain'
      tags:
      - evolution-chain
  /api/v2/evolution-chain/{id}/:
    get:
      operationId: evolution-chain_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this evolution chain.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolutionChain'
      tags:
      - evolution-chain
  /api/v2/evolution-trigger/:
    get:
      operationId: evolution-trigger_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of evolution triggers.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of evolution triggers.
                    example: https://pokeapi.co/api/v2/evolution-trigger/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of evolution triggers.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvolutionTrigger'
      tags:
      - evolution-trigger
  /api/v2/evolution-trigger/{id}/:
    get:
      operationId: evolution-trigger_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this evolution trigger.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolutionTrigger'
      tags:
      - evolution-trigger
  /api/v2/gender/:
    get:
      operationId: gender_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of genders.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of genders.
                    example: https://pokeapi.co/api/v2/gender/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of genders.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gender'
      tags:
      - gender
  /api/v2/gender/{id}/:
    get:
      operationId: gender_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this gender.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gender'
      tags:
      - gender
  /api/v2/generation/:
    get:
      operationId: generation_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of generations.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of generations.
                    example: https://pokeapi.co/api/v2/generation/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of generations.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Generation'
      tags:
      - generation
  /api/v2/generation/{id}/:
    get:
      operationId: generation_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this generation.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generation'
      tags:
      - generation
  /api/v2/growth-rate/:
    get:
      operationId: growth-rate_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of growth rates.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of growth rates.
                    example: https://pokeapi.co/api/v2/growth-rate/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of growth rates.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GrowthRate'
      tags:
      - growth-rate
  /api/v2/growth-rate/{id}/:
    get:
      operationId: growth-rate_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this growth rate.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowthRate'
      tags:
      - growth-rate
  /api/v2/item-attribute/:
    get:
      operationId: item-attribute_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of item attributes.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of item attributes.
                    example: https://pokeapi.co/api/v2/item-attribute/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of item attributes.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemAttribute'
      tags:
      - item-attribute
  /api/v2/item-attribute/{id}/:
    get:
      operationId: item-attribute_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item attribute.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemAttribute'
      tags:
      - item-attribute
  /api/v2/item-category/:
    get:
      operationId: item-category_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of item categories.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of item categories.
                    example: https://pokeapi.co/api/v2/item-category/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of item categories.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemCategory'
      tags:
      - item-category
  /api/v2/item-category/{id}/:
    get:
      operationId: item-category_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item category.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCategory'
      tags:
      - item-category
  /api/v2/item-fling-effect/:
    get:
      operationId: item-fling-effect_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of item fling effects.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of item fling effects.
                    example: https://pokeapi.co/api/v2/item-fling-effect/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of item fling effects.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemFlingEffect'
      tags:
      - item-fling-effect
  /api/v2/item-fling-effect/{id}/:
    get:
      operationId: item-fling-effect_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item fling effect.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemFlingEffect'
      tags:
      - item-fling-effect
  /api/v2/item-pocket/:
    get:
      operationId: item-pocket_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of item pockets.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of item pockets.
                    example: https://pokeapi.co/api/v2/item-pocket/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of item pockets.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemPocket'
      tags:
      - item-pocket
  /api/v2/item-pocket/{id}/:
    get:
      operationId: item-pocket_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item pocket.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPocket'
      tags:
      - item-pocket
  /api/v2/item/:
    get:
      operationId: item_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of items.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of items.
                    example: https://pokeapi.co/api/v2/item/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of items.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Item'
      tags:
      - item
  /api/v2/item/{id}/:
    get:
      operationId: item_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
      tags:
      - item
  /api/v2/language/:
    get:
      operationId: language_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of languages.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of languages.
                    example: https://pokeapi.co/api/v2/language/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of languages.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
      tags:
      - language
  /api/v2/language/{id}/:
    get:
      operationId: language_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this language.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Language'
      tags:
      - language
  /api/v2/location-area/:
    get:
      operationId: location-area_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of location areas.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of location areas.
                    example: https://pokeapi.co/api/v2/location-area/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of location areas.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/LocationArea'
      tags:
      - location-area
  /api/v2/location-area/{id}/:
    get:
      operationId: location-area_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this location area.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationArea'
      tags:
      - location-area
  /api/v2/location/:
    get:
      operationId: location_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of locations.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of locations.
                    example: https://pokeapi.co/api/v2/location/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of locations.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
      tags:
      - location
  /api/v2/location/{id}/:
    get:
      operationId: location_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this location.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      tags:
      - location
  /api/v2/machine/:
    get:
      operationId: machine_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of machines.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of machines.
                    example: https://pokeapi.co/api/v2/machine/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of machines.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Machine'
      tags:
      - machine
  /api/v2/machine/{id}/:
    get:
      operationId: machine_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this machine.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      tags:
      - machine
  /api/v2/move-ailment/:
    get:
      operationId: move-ailment_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move ailments.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move ailments.
                    example: https://pokeapi.co/api/v2/move-ailment/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move ailments.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveAilment'
      tags:
      - move-ailment
  /api/v2/move-ailment/{id}/:
    get:
      operationId: move-ailment_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move meta ailment.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveAilment'
      tags:
      - move-ailment
  /api/v2/move-battle-style/:
    get:
      operationId: move-battle-style_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move battle styles.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move battle styles.
                    example: https://pokeapi.co/api/v2/move-battle-style/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move battle styles.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveBattleStyle'
      tags:
      - move-battle-style
  /api/v2/move-battle-style/{id}/:
    get:
      operationId: move-battle-style_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move battle style.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveBattleStyle'
      tags:
      - move-battle-style
  /api/v2/move-category/:
    get:
      operationId: move-category_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move categories.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move categories.
                    example: https://pokeapi.co/api/v2/move-category/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move categories.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveCategory'
      tags:
      - move-category
  /api/v2/move-category/{id}/:
    get:
      operationId: move-category_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move meta category.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCategory'
      tags:
      - move-category
  /api/v2/move-damage-class/:
    get:
      operationId: move-damage-class_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move damage classes.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move damage classes.
                    example: https://pokeapi.co/api/v2/move-damage-class/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move damage classes.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveDamageClass'
      tags:
      - move-damage-class
  /api/v2/move-damage-class/{id}/:
    get:
      operationId: move-damage-class_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move damage class.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveDamageClass'
      tags:
      - move-damage-class
  /api/v2/move-learn-method/:
    get:
      operationId: move-learn-method_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move learn methods.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move learn methods.
                    example: https://pokeapi.co/api/v2/move-learn-method/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move learn methods.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveLearnMethod'
      tags:
      - move-learn-method
  /api/v2/move-learn-method/{id}/:
    get:
      operationId: move-learn-method_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move learn method.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveLearnMethod'
      tags:
      - move-learn-method
  /api/v2/move-target/:
    get:
      operationId: move-target_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of move targets.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of move targets.
                    example: https://pokeapi.co/api/v2/move-target/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of move targets.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MoveTarget'
      tags:
      - move-target
  /api/v2/move-target/{id}/:
    get:
      operationId: move-target_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move target.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveTarget'
      tags:
      - move-target
  /api/v2/move/:
    get:
      operationId: move_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of moves.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of moves.
                    example: https://pokeapi.co/api/v2/move/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of moves.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Move'
      tags:
      - move
  /api/v2/move/{id}/:
    get:
      operationId: move_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Move'
      tags:
      - move
  /api/v2/nature/:
    get:
      operationId: nature_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of natures.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of natures.
                    example: https://pokeapi.co/api/v2/nature/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of natures.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Nature'
      tags:
      - nature
  /api/v2/nature/{id}/:
    get:
      operationId: nature_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this nature.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nature'
      tags:
      - nature
  /api/v2/pal-park-area/:
    get:
      operationId: pal-park-area_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pal park areas.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pal park areas.
                    example: https://pokeapi.co/api/v2/pal-park-area/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pal park areas.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PalParkArea'
      tags:
      - pal-park-area
  /api/v2/pal-park-area/{id}/:
    get:
      operationId: pal-park-area_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pal park area.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalParkArea'
      tags:
      - pal-park-area
  /api/v2/pokeathlon-stat/:
    get:
      operationId: pokeathlon-stat_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokeathlon stats.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokeathlon stats.
                    example: https://pokeapi.co/api/v2/pokeathlon-stat/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokeathlon stat.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokeathlonStat'
      tags:
      - pokeathlon-stat
  /api/v2/pokeathlon-stat/{id}/:
    get:
      operationId: pokeathlon-stat_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokeathlon stat.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokeathlonStat'
      tags:
      - pokeathlon-stat
  /api/v2/pokedex/:
    get:
      operationId: pokedex_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokedexes.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokedexes.
                    example: https://pokeapi.co/api/v2/pokedex/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokedexes.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pokedex'
      tags:
      - pokedex
  /api/v2/pokedex/{id}/:
    get:
      operationId: pokedex_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokedex.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pokedex'
      tags:
      - pokedex
  /api/v2/pokemon-color/:
    get:
      operationId: pokemon-color_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemon colors.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemon colors.
                    example: https://pokeapi.co/api/v2/pokemon-color/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemon colors.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokemonColor'
      tags:
      - pokemon-color
  /api/v2/pokemon-color/{id}/:
    get:
      operationId: pokemon-color_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon color.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonColor'
      tags:
      - pokemon-color
  /api/v2/pokemon-form/:
    get:
      operationId: pokemon-form_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemon forms.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemon forms.
                    example: https://pokeapi.co/api/v2/pokemon-form/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemon forms.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokemonForm'
      tags:
      - pokemon-form
  /api/v2/pokemon-form/{id}/:
    get:
      operationId: pokemon-form_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon form.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonForm'
      tags:
      - pokemon-form
  /api/v2/pokemon-habitat/:
    get:
      operationId: pokemon-habitat_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemon habitats.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemon habitats.
                    example: https://pokeapi.co/api/v2/language/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemon habitats.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokemonHabitat'
      tags:
      - pokemon-habitat
  /api/v2/pokemon-habitat/{id}/:
    get:
      operationId: pokemon-habitat_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon habitat.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonHabitat'
      tags:
      - pokemon-habitat
  /api/v2/pokemon-shape/:
    get:
      operationId: pokemon-shape_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemon shapes.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemon shapes.
                    example: https://pokeapi.co/api/v2/pokemon-shape/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemon shapes.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokemonShape'
      tags:
      - pokemon-shape
  /api/v2/pokemon-shape/{id}/:
    get:
      operationId: pokemon-shape_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon shape.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonShape'
      tags:
      - pokemon-shape
  /api/v2/pokemon-species/:
    get:
      operationId: pokemon-species_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemon species list.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemon species list.
                    example: https://pokeapi.co/api/v2/pokemon-species/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemon species list.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PokemonSpecies'
      tags:
      - pokemon-species
  /api/v2/pokemon-species/{id}/:
    get:
      operationId: pokemon-species_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon species.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonSpecies'
      tags:
      - pokemon-species
  /api/v2/pokemon/:
    get:
      operationId: pokemon_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of pokemons.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of pokemons.
                    example: https://pokeapi.co/api/v2/pokemon/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of pokemons.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pokemon'
      tags:
      - pokemon
  /api/v2/pokemon/{id}/:
    get:
      operationId: pokemon_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pokemon'
      tags:
      - pokemon
  /api/v2/region/:
    get:
      operationId: region_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of regions.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of regions.
                    example: https://pokeapi.co/api/v2/region/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of regions.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'
      tags:
      - region
  /api/v2/region/{id}/:
    get:
      operationId: region_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this region.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
      tags:
      - region
  /api/v2/stat/:
    get:
      operationId: stat_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of stats.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of stats.
                    example: https://pokeapi.co/api/v2/stat/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of stats.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stat'
      tags:
      - stat
  /api/v2/stat/{id}/:
    get:
      operationId: stat_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this stat.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat'
      tags:
      - stat
  /api/v2/super-contest-effect/:
    get:
      operationId: super-contest-effect_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of super contest effects.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of super contest effects.
                    example: https://pokeapi.co/api/v2/super-contest-effect/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of super contest effects.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuperContestEffect'
      tags:
      - super-contest-effect
  /api/v2/super-contest-effect/{id}/:
    get:
      operationId: super-contest-effect_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this super contest effect.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperContestEffect'
      tags:
      - super-contest-effect
  /api/v2/type/:
    get:
      operationId: type_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of types.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of types.
                    example: https://pokeapi.co/api/v2/type/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of types.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Type'
      tags:
      - type
  /api/v2/type/{id}/:
    get:
      operationId: type_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this type.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
      tags:
      - type
  /api/v2/version-group/:
    get:
      operationId: version-group_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of version groups.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of version groups.
                    example: https://pokeapi.co/api/v2/version-group/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of version groups.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionGroup'
      tags:
      - version-group
  /api/v2/version-group/{id}/:
    get:
      operationId: version-group_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this version group.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionGroup'
      tags:
      - version-group
  /api/v2/version/:
    get:
      operationId: version_list
      parameters:
      - in: query
        name: limit
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
      - in: query
        name: offset
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The total number of versions.
                    example: 3
                  next:
                    type: string
                    nullable: true
                    description: URL to retrieve the next page of versions.
                    example: https://pokeapi.co/api/v2/version/?offset=20&limit=20
                  previous:
                    type: string
                    nullable: true
                    description: URL to retrieve the previous page of versions.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
      tags:
      - version
  /api/v2/version/{id}/:
    get:
      operationId: version_read
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this version.
          title: ID
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      tags:
      - version
components:
  schemas:
    Ability:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: The identifier for this ability resource.
        name:
          type: string
          description: The name for this ability resource.
        is_main_series:
          type: boolean
          description: Whether or not this ability originated in the main series of the video games.
        generation:
          type: object
          properties:
            name:
              type: string
              description: The generation this ability originated in.
            url:
              type: string
              description: The URL of the API endpoint for this generation.
        names:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The localized name for an API resource in a specific language.
              language:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the language.
                  url:
                    type: string
                    description: The URL of the API endpoint for the language.
    AbilityEffectChange:
      type: object
      properties:
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/Effect'
        version_group:
          description: The version group in which the ability effect change occurred.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - effect_entries
        - version_group
    APIResource:
      type: object
      properties:
        url:
          description: The URL of the referenced resource.
          type: string
        name:
          description: The name of the referenced resource.
          type: string
        id:
          description: The ID of the referenced resource.
          type: integer
          format: int32
      xml:
        name: resource
      additionalProperties: false
    Berry:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this berry resource
        name:
          type: string
          description: The name for this berry resource
        growth_time:
          type: integer
          description: Time it takes the tree to grow one stage, in hours. Berry trees go through four of these growth stages before they can be picked.
        max_harvest:
          type: integer
          description: The maximum number of these berries that can grow on one tree in Generation IV
        natural_gift_power:
          type: integer
          description: The power of the move "Natural Gift" when used with this Berry
        size:
          type: integer
          description: The size of this Berry, in millimeters
        smoothness:
          type: integer
          description: The smoothness of this Berry, used in making Pokéblocks or Poffins
        soil_dryness:
          type: integer
          description: The speed at which this Berry dries out the soil as it grows. A higher rate means the soil dries more quickly.
        firmness:
          $ref: '#/components/schemas/BerryFirmness'
        flavors:
          type: array
          description: A list of references to each flavor a berry can have and the potency of each of those flavors in regard to this berry.
          items:
            $ref: '#/components/schemas/BerryFlavorMap'
      required:
        - id
        - name
        - growth_time
        - max_harvest
        - natural_gift_power
        - size
        - smoothness
        - soil_dryness
        - firmness
        - flavors
    BerryFirmness:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this berry firmness resource
        name:
          type: string
          description: The name for this berry firmness resource
      required:
        - id
        - name
    BerryFlavor:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this berry flavor resource
        name:
          type: string
          description: The name for this berry flavor resource
        berries:
          type: array
          description: A list of the berries with this flavor
          items:
            $ref: '#/components/schemas/BerryFlavorMap'
      required:
        - id
        - name
    BerryFlavorMap:
      type: object
      properties:
        potency:
          type: integer
          description: How powerful the referenced flavor is for this berry
        flavor:
          $ref: '#/components/schemas/BerryFlavor'
      required:
        - potency
        - flavor
    Characteristic:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this characteristic resource
        gene_modulo:
          type: integer
          description: The remainder of the highest stat/IV divided by 5
        possible_values:
          type: array
          items:
            type: integer
          description: The possible values of the highest stat that would result in a Pokémon recieving this characteristic when divided by 5
      required:
        - id
        - gene_modulo
        - possible_values
    ContestComboDetail:
      type: object
      properties:
        use_before:
          type: array
          items:
            $ref: '#/components/schemas/Move'
          description: A list of moves to use before this move.
        use_after:
          type: array
          items:
            $ref: '#/components/schemas/Move'
          description: A list of moves to use after this move.
    ContestComboSets:
      type: object
      properties:
        normal:
          $ref: '#/components/schemas/ContestComboDetail'
        super:
          $ref: '#/components/schemas/ContestComboDetail'
    ContestName:
      type: object
      properties:
        name:
          type: string
          description: The localized name for an API resource in a specific language.
          example: Beauty
    ContestType:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this contest type resource
        name:
          type: string
          description: The name for this contest type resource
        berry_flavor:
          $ref: '#/components/schemas/BerryFlavor'
        names:
          type: array
          items:
            $ref: '#/components/schemas/ContestName'
          description: The name of this contest type listed in different languages
      required:
        - id
        - name
        - berry_flavor
        - names
    ContestEffect:
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this contest effect resource
        appeal:
          type: integer
          description: The base number of hearts the user of this move gets
        jam:
          type: integer
          description: The base number of hearts the user's opponent loses
        effect_entries:
          type: array
          items:
            $ref: '#/components/schemas/VerboseEffect'
          description: The flavor text of this contest effect listed in different languages
        flavor_text_entries:
          type: array
          items:
            $ref: '#/components/schemas/FlavorText'
          description: The flavor text of this contest effect listed in different languages
      required:
        - id
        - appeal
        - jam
        - effect_entries
        - flavor_text_entries
    Description:
      type: object
      properties:
        description:
          type: string
        language:
          $ref: '#/components/schemas/Language'
    Effect:
      type: object
      description: An effect that occurs in a game, e.g. causing a Pokémon to fall asleep.
      properties:
        id:
          type: integer
          description: The identifier for this effect resource
          example: 1
        name:
          type: string
          description: The name for this effect resource
          example: "no-type-damage"
        effect_entries:
          type: array
          description: The list of effect text entries
          items:
            $ref: '#/components/schemas/EffectEffect'
        pokemon_flavor_text_entries:
          type: array
          description: The flavor text entries that describe this effect
          items:
            $ref: '#/components/schemas/EffectEffect'
        target_species:
          description: The species that this effect is against
          $ref: '#/components/schemas/PokemonSpecies'
        effect_changes:
          type: array
          description: The list of effects that are changed by this ability
          items:
            $ref: '#/components/schemas/AbilityEffectChange'
        flavor_text_entries:
          type: array
          description: The flavor text entries that describe this effect
          items:
            $ref: '#/components/schemas/FlavorText'
        generation:
          description: The generation this effect originated in
          $ref: '#/components/schemas/Generation'
        machines:
          type: array
          description: The machines that teach this move
          items:
            $ref: '#/components/schemas/MachineVersionDetail'
        meta:
          description: Meta data about this effect
          $ref: '#/components/schemas/MoveMetaData'
        short_effect:
          type: string
          description: The short description of this effect listed in different languages
          example: "null"
        effect_chance:
          type: integer
          description: The chance of this move having an additional effect listed in percentage
          example: 30
        stat_changes:
          type: array
          description: The list of stat changes that are caused by this effect
          items:
            $ref: '#/components/schemas/MoveStatChange'
        super_contest_effect:
          description: The detail of how effective this move is to the super contest
          $ref: '#/components/schemas/SuperContestEffect'
        contest_combos:
          description: A detail of combos this move can be used in
          $ref: '#/components/schemas/ContestComboSets'
        contest_type:
[...]
