from typing import List

import dlt
from dlt.extract.source import DltResource

from rest_api.typing import RESTAPIConfig
from rest_api import rest_api_source

@dlt.source(name="{{source_name}}", max_table_nesting=2)
def {{ source_name }}(
        {% if credentials %}
        credentials: {{ credentials.type_hint }} = dlt.secrets.value,
        {% endif %}
        base_url: str = dlt.config.value,
) -> List[DltResource]:

    # source configuration
    source_config: RESTAPIConfig = {
        "client": {
            "base_url": base_url,
        },
        "resources": 
        [
        
        {% for endpoint in endpoint_collection.all_endpoints_to_render %}
        {
            "name": "{{ endpoint.python_name }}",
            "endpoint": {
                "data_selector": "{{ endpoint.data_json_path }}",
                "path": "{{endpoint.path }}",
                {% if endpoint.transformer %}
                "params": {
                    {% for key, value in endpoint.transformer.path_params_mapping.items() %}
                    "{{key}}": {
                        "type": "resolve",
                        "resource": "{{endpoint.parent.python_name }}",
                        "field": "{{value}}",
                    },
                    {% endfor %}
                },
                {% endif %}
                {% if endpoint.pagination_args %}
                "paginator": {
                    {% for key, value in endpoint.pagination_args.items() %}
                    "{{key}}":
                        {% if value is integer %}
                        {{value}},
                        {% else %}
                        "{{value}}",
                        {% endif %}
                    {% endfor %}
                },
                {% endif %}

            }
        },
        {% endfor %}
        ]
    }

    return rest_api_source(source_config)

