import dlt

from rest_api.typing import RESTAPIConfig

from rest_api import rest_api_source

source_config: RESTAPIConfig = {
    "client": {
        "base_url": dlt.config["base_url"],
    },
    "resources": [
    {% for endpoint in endpoint_collection.all_endpoints_to_render %}
        "{{ endpoint.path }}",
    {% endfor %}
    ]
}

{{ source_name }} = rest_api_source(source_config)