---
swagger: '2.0'
info:
  title: Art Institution of Chicago API
  description: An API for an aggregator of Art Institute of Chicago public data. This
    documentation was generated by `php artisan docs:swagger` on 2023-12-13 12:37:28
  termsOfService: https://www.artic.edu/terms/terms-and-conditions
  contact:
    email: engineering@artic.edu
  license:
    name: ''
  version: '1.10'
host: api.artic.edu
basePath: "/api/v1"
schemes:
- https
paths:
  "/artworks":
    get:
      tags:
      - artworks
      - collections
      summary: A list of all artworks sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Artwork"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artworks/search":
    get:
      tags:
      - artworks
      - collections
      - search
      summary: Search artworks data in the aggregator. Artworks in the groups of essentials
        are boosted so they'll show up higher in results.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artworks/{id}":
    get:
      tags:
      - artworks
      - collections
      summary: A single artwork by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Artwork"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agents":
    get:
      tags:
      - agents
      - collections
      summary: A list of all agents sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Agent"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agents/search":
    get:
      tags:
      - agents
      - collections
      - search
      summary: 'Search agents data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agents/{id}":
    get:
      tags:
      - agents
      - collections
      summary: A single agent by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Agent"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artists":
    get:
      tags:
      - agents
      - collections
      summary: A list of all artists sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Agent"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artists/{id}":
    get:
      tags:
      - agents
      - collections
      summary: A single artist by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Agent"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/places":
    get:
      tags:
      - places
      - collections
      summary: A list of all places sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Place"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/places/search":
    get:
      tags:
      - places
      - collections
      - search
      summary: 'Search places data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/places/{id}":
    get:
      tags:
      - places
      - collections
      summary: A single place by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Place"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/galleries":
    get:
      tags:
      - galleries
      - collections
      summary: A list of all galleries sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Gallery"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/galleries/search":
    get:
      tags:
      - galleries
      - collections
      - search
      summary: 'Search galleries data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/galleries/{id}":
    get:
      tags:
      - galleries
      - collections
      summary: A single gallery by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Gallery"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/exhibitions":
    get:
      tags:
      - exhibitions
      - collections
      summary: A list of all exhibitions sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Exhibition"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/exhibitions/search":
    get:
      tags:
      - exhibitions
      - collections
      - search
      summary: 'Search exhibitions data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/exhibitions/{id}":
    get:
      tags:
      - exhibitions
      - collections
      summary: A single exhibition by the given identifier. {id} is the identifier
        from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Exhibition"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agent-types":
    get:
      tags:
      - agent-types
      - collections
      summary: A list of all agent-types sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/AgentType"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agent-types/{id}":
    get:
      tags:
      - agent-types
      - collections
      summary: A single agent-type by the given identifier. {id} is the identifier
        from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/AgentType"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agent-roles":
    get:
      tags:
      - agent-roles
      - collections
      summary: A list of all agent-roles sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/AgentRole"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/agent-roles/{id}":
    get:
      tags:
      - agent-roles
      - collections
      summary: A single agent-role by the given identifier. {id} is the identifier
        from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/AgentRole"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-place-qualifiers":
    get:
      tags:
      - artwork-place-qualifiers
      - collections
      summary: A list of all artwork-place-qualifiers sorted by last updated date
        in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkPlaceQualifier"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-place-qualifiers/{id}":
    get:
      tags:
      - artwork-place-qualifiers
      - collections
      summary: A single artwork-place-qualifier by the given identifier. {id} is the
        identifier from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkPlaceQualifier"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-date-qualifiers":
    get:
      tags:
      - artwork-date-qualifiers
      - collections
      summary: A list of all artwork-date-qualifiers sorted by last updated date in
        descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkDateQualifier"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-date-qualifiers/{id}":
    get:
      tags:
      - artwork-date-qualifiers
      - collections
      summary: A single artwork-date-qualifier by the given identifier. {id} is the
        identifier from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkDateQualifier"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-types":
    get:
      tags:
      - artwork-types
      - collections
      summary: A list of all artwork-types sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkType"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/artwork-types/{id}":
    get:
      tags:
      - artwork-types
      - collections
      summary: A single artwork-type by the given identifier. {id} is the identifier
        from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/ArtworkType"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/category-terms":
    get:
      tags:
      - category-terms
      - collections
      summary: A list of all category-terms sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/CategoryTerm"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/category-terms/search":
    get:
      tags:
      - category-terms
      - collections
      - search
      summary: 'Search category-terms data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/category-terms/{id}":
    get:
      tags:
      - category-terms
      - collections
      summary: A single category-term by the given identifier. {id} is the identifier
        from our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/CategoryTerm"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/images":
    get:
      tags:
      - images
      - collections
      summary: A list of all images sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Image"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/images/search":
    get:
      tags:
      - images
      - collections
      - search
      summary: 'Search images data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/images/{id}":
    get:
      tags:
      - images
      - collections
      summary: A single image by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Image"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/videos":
    get:
      tags:
      - videos
      - collections
      summary: A list of all videos sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Video"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/videos/search":
    get:
      tags:
      - videos
      - collections
      - search
      summary: 'Search videos data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/videos/{id}":
    get:
      tags:
      - videos
      - collections
      summary: A single video by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Video"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sounds":
    get:
      tags:
      - sounds
      - collections
      summary: A list of all sounds sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Sound"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sounds/search":
    get:
      tags:
      - sounds
      - collections
      - search
      summary: 'Search sounds data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sounds/{id}":
    get:
      tags:
      - sounds
      - collections
      summary: A single sound by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Sound"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/texts":
    get:
      tags:
      - texts
      - collections
      summary: A list of all texts sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Text"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/texts/search":
    get:
      tags:
      - texts
      - collections
      - search
      summary: 'Search texts data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/texts/{id}":
    get:
      tags:
      - texts
      - collections
      summary: A single text by the given identifier. {id} is the identifier from
        our collections management system.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Text"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/products":
    get:
      tags:
      - products
      - shop
      summary: A list of all products sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Product"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/products/search":
    get:
      tags:
      - products
      - shop
      - search
      summary: 'Search products data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/products/{id}":
    get:
      tags:
      - products
      - shop
      summary: A single product by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Product"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/tours":
    get:
      tags:
      - tours
      - mobile
      summary: A list of all tours sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Tour"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/tours/search":
    get:
      tags:
      - tours
      - mobile
      - search
      summary: 'Search tours data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/tours/{id}":
    get:
      tags:
      - tours
      - mobile
      summary: A single tour by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Tour"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/mobile-sounds":
    get:
      tags:
      - mobile-sounds
      - mobile
      summary: A list of all mobile-sounds sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Sound"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/mobile-sounds/search":
    get:
      tags:
      - mobile-sounds
      - mobile
      - search
      summary: 'Search mobile-sounds data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/mobile-sounds/{id}":
    get:
      tags:
      - mobile-sounds
      - mobile
      summary: A single mobile-sound by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Sound"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/publications":
    get:
      tags:
      - publications
      - dsc
      summary: A list of all publications sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Publication"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/publications/search":
    get:
      tags:
      - publications
      - dsc
      - search
      summary: 'Search publications data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/publications/{id}":
    get:
      tags:
      - publications
      - dsc
      summary: A single publication by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Publication"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sections":
    get:
      tags:
      - sections
      - dsc
      summary: A list of all sections sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Section"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sections/search":
    get:
      tags:
      - sections
      - dsc
      - search
      summary: 'Search sections data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sections/{id}":
    get:
      tags:
      - sections
      - dsc
      summary: A single section by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Section"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sites":
    get:
      tags:
      - sites
      - ''
      summary: A list of all sites sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Site"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sites/search":
    get:
      tags:
      - sites
      - ''
      - search
      summary: 'Search sites data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/sites/{id}":
    get:
      tags:
      - sites
      - ''
      summary: A single site by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Site"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/events":
    get:
      tags:
      - events
      - web
      summary: A list of all events sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Event"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/events/search":
    get:
      tags:
      - events
      - web
      - search
      summary: 'Search events data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/events/{id}":
    get:
      tags:
      - events
      - web
      summary: A single event by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Event"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-occurrences":
    get:
      tags:
      - event-occurrences
      - web
      summary: A list of all event-occurrences sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EventOccurrence"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-occurrences/search":
    get:
      tags:
      - event-occurrences
      - web
      - search
      summary: 'Search event-occurrences data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-occurrences/{id}":
    get:
      tags:
      - event-occurrences
      - web
      summary: A single event-occurrence by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EventOccurrence"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-programs":
    get:
      tags:
      - event-programs
      - web
      summary: A list of all event-programs sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EventProgram"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-programs/search":
    get:
      tags:
      - event-programs
      - web
      - search
      summary: 'Search event-programs data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/event-programs/{id}":
    get:
      tags:
      - event-programs
      - web
      summary: A single event-program by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EventProgram"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/articles":
    get:
      tags:
      - articles
      - web
      summary: A list of all articles sorted by last updated date in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Article"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/articles/search":
    get:
      tags:
      - articles
      - web
      - search
      summary: 'Search articles data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/articles/{id}":
    get:
      tags:
      - articles
      - web
      summary: A single article by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Article"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/highlights":
    get:
      tags:
      - highlights
      - web
      summary: A list of all highlights sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Highlight"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/highlights/search":
    get:
      tags:
      - highlights
      - web
      - search
      summary: 'Search highlights data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/highlights/{id}":
    get:
      tags:
      - highlights
      - web
      summary: A single highlight by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/Highlight"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/static-pages":
    get:
      tags:
      - static-pages
      - web
      summary: A list of all static-pages sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/StaticPage"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/static-pages/search":
    get:
      tags:
      - static-pages
      - web
      - search
      summary: 'Search static-pages data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/static-pages/{id}":
    get:
      tags:
      - static-pages
      - web
      summary: A single static-page by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/StaticPage"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/generic-pages":
    get:
      tags:
      - generic-pages
      - web
      summary: A list of all generic-pages sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/GenericPage"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/generic-pages/search":
    get:
      tags:
      - generic-pages
      - web
      - search
      summary: 'Search generic-pages data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/generic-pages/{id}":
    get:
      tags:
      - generic-pages
      - web
      summary: A single generic-page by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/GenericPage"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/press-releases":
    get:
      tags:
      - press-releases
      - web
      summary: A list of all press-releases sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/PressRelease"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/press-releases/search":
    get:
      tags:
      - press-releases
      - web
      - search
      summary: 'Search press-releases data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/press-releases/{id}":
    get:
      tags:
      - press-releases
      - web
      summary: A single press-release by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/PressRelease"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/educator-resources":
    get:
      tags:
      - educator-resources
      - web
      summary: A list of all educator-resources sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EducatorResource"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/educator-resources/search":
    get:
      tags:
      - educator-resources
      - web
      - search
      summary: 'Search educator-resources data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/educator-resources/{id}":
    get:
      tags:
      - educator-resources
      - web
      summary: A single educator-resource by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/EducatorResource"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-catalogs":
    get:
      tags:
      - digital-catalogs
      - web
      summary: A list of all digital-catalogs sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/DigitalCatalog"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-catalogs/search":
    get:
      tags:
      - digital-catalogs
      - web
      - search
      summary: 'Search digital-catalogs data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-catalogs/{id}":
    get:
      tags:
      - digital-catalogs
      - web
      summary: A single digital-catalog by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/DigitalCatalog"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-publication-sections":
    get:
      tags:
      - digital-publication-sections
      - web
      summary: A list of all digital-publication-sections sorted by last updated date
        in descending order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/DigitalPublicationSection"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-publication-sections/search":
    get:
      tags:
      - digital-publication-sections
      - web
      - search
      summary: 'Search digital-publication-sections data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/digital-publication-sections/{id}":
    get:
      tags:
      - digital-publication-sections
      - web
      summary: A single digital-publication-section by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/DigitalPublicationSection"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/printed-catalogs":
    get:
      tags:
      - printed-catalogs
      - web
      summary: A list of all printed-catalogs sorted by last updated date in descending
        order.
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/PrintedCatalog"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/printed-catalogs/search":
    get:
      tags:
      - printed-catalogs
      - web
      - search
      summary: 'Search printed-catalogs data in the aggregator. '
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/printed-catalogs/{id}":
    get:
      tags:
      - printed-catalogs
      - web
      summary: A single printed-catalog by the given identifier.
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/id"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/PrintedCatalog"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
  "/search":
    get:
      tags:
      - search
      summary: Search all data in the aggregator
      produces:
      - application/json
      parameters:
      - "$ref": "#/parameters/q"
      - "$ref": "#/parameters/query"
      - "$ref": "#/parameters/sort"
      - "$ref": "#/parameters/from"
      - "$ref": "#/parameters/size"
      - "$ref": "#/parameters/facets"
      responses:
        '200':
          description: Successful operation
          schema:
            type: array
            items:
              "$ref": "#/definitions/SearchResult"
        default:
          description: error
          schema:
            "$ref": "#/definitions/Error"
definitions:
  Error:
    required:
    - status
    - error
    - detail
    properties:
      status:
        type: integer
      error:
        type: string
      detail:
        type: string
  Artwork:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      is_boosted:
        description: Whether this document should be boosted in search
      title:
        description: The name of this resource
      alt_titles:
        description: Alternate names for this work
      thumbnail:
        description: Metadata about the image referenced by `image_id`. Currently,
          all thumbnails are IIIF images. You must build your own image URLs using
          IIIF Image API conventions. See our API documentation for more details.
      main_reference_number:
        description: Unique identifier assigned to the artwork upon acquisition
      pageviews:
        description: Approx. number of times this artwork was viewed on our website
          since Jan 1st, 2010
      pageviews_recent:
        description: Approx. number of times this artwork was viewed on our website
          over the past three months
      has_not_been_viewed_much:
        description: Whether the artwork hasn't been visited on our website very much
      boost_rank:
        description: Manual indication of what rank this artwork should take in search
          results. Noncontiguous.
      date_start:
        description: The year of the period of time associated with the creation of
          this work
      date_end:
        description: The year of the period of time associated with the creation of
          this work
      date_display:
        description: 'Readable, free-text description of the period of time associated
          with the creation of this work. This might include date terms like Dynasty,
          Era etc. Written by curators and editors in house style, and is the preferred
          field for display on websites and apps. '
      date_qualifier_title:
        description: Readable, text qualifer to the dates provided for this record.
      date_qualifier_id:
        description: Unique identifier of the qualifer to the dates provided for this
          record.
      artist_display:
        description: Readable description of the creator of this work. Includes artist
          names, nationality and lifespan dates
      place_of_origin:
        description: The location where the creation, design, or production of the
          work took place, or the original location of the work
      description:
        description: Longer explanation describing the work
      short_description:
        description: Short explanation describing the work
      dimensions:
        description: The size, shape, scale, and dimensions of the work. May include
          multiple dimensions like overall, frame, or dimension for each section of
          a work. Free-form text formatted in a house style.
      dimensions_detail:
        description: The height, width, depth, and/or diameter of each section of
          the work in centimeters
      medium_display:
        description: The substances or materials used in the creation of a work
      inscriptions:
        description: A description of distinguishing or identifying physical markings
          that are on the work
      credit_line:
        description: Brief statement indicating how the work came into the collection
      catalogue_display:
        description: Brief text listing all the catalogues raisonnés which include
          this work. This isn't an exhaustive list of publications where the work
          has been mentioned. For that, see `publication_history`.
      publication_history:
        description: Bibliographic list of all the places this work has been published
      exhibition_history:
        description: List of all the places this work has been exhibited
      provenance_text:
        description: Ownership/collecting history of the work. May include names of
          owners, dates, and possibly methods of transfer of ownership. Free-form
          text formatted in a house style.
      edition:
        description: Edition number if the work is one of many
      publishing_verification_level:
        description: Indicator of how much metadata on the work in published. Web
          Basic is the least amount, Web Everything is the greatest.
      internal_department_id:
        description: An internal department id we use for analytics. Does not correspond
          to departments on the website.
      fiscal_year:
        description: The fiscal year in which the work was acquired.
      fiscal_year_deaccession:
        description: The fiscal year in which the work was deaccessioned.
      is_public_domain:
        description: Whether the work is in the public domain, meaning it was created
          before copyrights existed or has left the copyright term
      is_zoomable:
        description: Whether images of the work are allowed to be displayed in a zoomable
          interface.
      max_zoom_window_size:
        description: The maximum size of the window the image is allowed to be viewed
          in, in pixels.
      copyright_notice:
        description: Statement notifying how the work is protected by copyright. Applies
          to the work itself, not image or other related assets.
      has_multimedia_resources:
        description: Whether this artwork has any associated microsites, digital publications,
          or documents tagged as multimedia
      has_educational_resources:
        description: Whether this artwork has any documents tagged as educational
      has_advanced_imaging:
        description: Whether this artwork is enhanced with 3D models, 360 image sequences,
          Mirador views, etc.
      colorfulness:
        description: Unbounded positive float representing an abstract measure of
          colorfulness.
      color:
        description: Dominant color of this artwork in HSL
      latitude:
        description: Latitude coordinate of the location of this work in our galleries
      longitude:
        description: Longitude coordinate of the location of this work in our galleries
      latlon:
        description: Latitude and longitude coordinates of the location of this work
          in our galleries
      is_on_view:
        description: Whether the work is on display
      on_loan_display:
        description: If an artwork is on loan, this contains details about the loan
      gallery_title:
        description: The location of this work in our museum
      gallery_id:
        description: Unique identifier of the location of this work in our museum
      nomisma_id:
        description: Unique identifier of this work in the nomisma coin database
      artwork_type_title:
        description: The kind of object or work (e.g. Painting, Sculpture, Book)
      artwork_type_id:
        description: Unique identifier of the kind of object or work
      department_title:
        description: Name of the curatorial department that this work belongs to
      department_id:
        description: Unique identifier of the curatorial department that this work
          belongs to
      artist_id:
        description: Unique identifier of the preferred artist/culture associated
          with this work
      artist_title:
        description: Name of the preferred artist/culture associated with this work
      alt_artist_ids:
        description: Unique identifiers of the non-preferred artists/cultures associated
          with this work
      artist_ids:
        description: Unique identifier of all artist/cultures associated with this
          work
      artist_titles:
        description: Names of all artist/cultures associated with this work
      category_ids:
        description: Unique identifiers of the categories this work is a part of
      category_titles:
        description: Names of the categories this artwork is a part of
      term_titles:
        description: The names of the taxonomy tags for this work
      style_id:
        description: Unique identifier of the preferred style term for this work
      style_title:
        description: The name of the preferred style term for this work
      alt_style_ids:
        description: Unique identifiers of all other non-preferred style terms for
          this work
      style_ids:
        description: Unique identifiers of all style terms for this work
      style_titles:
        description: The names of all style terms related to this artwork
      classification_id:
        description: Unique identifier of the preferred classification term for this
          work
      classification_title:
        description: The name of the preferred classification term for this work
      alt_classification_ids:
        description: Unique identifiers of all other non-preferred classification
          terms for this work
      classification_ids:
        description: Unique identifiers of all classification terms for this work
      classification_titles:
        description: The names of all classification terms related to this artwork
      subject_id:
        description: Unique identifier of the preferred subject term for this work
      alt_subject_ids:
        description: Unique identifiers of all other non-preferred subject terms for
          this work
      subject_ids:
        description: Unique identifiers of all subject terms for this work
      subject_titles:
        description: The names of all subject terms related to this artwork
      material_id:
        description: Unique identifier of the preferred material term for this work
      alt_material_ids:
        description: Unique identifiers of all other non-preferred material terms
          for this work
      material_ids:
        description: Unique identifiers of all material terms for this work
      material_titles:
        description: The names of all material terms related to this artwork
      technique_id:
        description: Unique identifier of the preferred technique term for this work
      alt_technique_ids:
        description: Unique identifiers of all other non-preferred technique terms
          for this work
      technique_ids:
        description: Unique identifiers of all technique terms for this work
      technique_titles:
        description: The names of all technique terms related to this artwork
      theme_titles:
        description: The names of all thematic publish categories related to this
          artwork
      image_id:
        description: Unique identifier of the preferred image to use to represent
          this work
      alt_image_ids:
        description: Unique identifiers of all non-preferred images of this work.
      document_ids:
        description: Unique identifiers of assets that serve as documentation for
          this artwork
      sound_ids:
        description: Unique identifiers of the audio about this work
      video_ids:
        description: Unique identifiers of the videos about this work
      text_ids:
        description: Unique identifiers of the texts about this work
      section_ids:
        description: Unique identifiers of the digital publication chapters this work
          in included in
      section_titles:
        description: Names of the digital publication chapters this work is included
          in
      site_ids:
        description: Unique identifiers of the microsites this work is a part of
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Agent:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      sort_title:
        description: Sortable name for this agent, typically with last name first.
      alt_titles:
        description: Alternate names for this agent
      is_artist:
        description: Whether the agent is an artist. Solely based on whether the agent
          is related to an artwork record.
      birth_date:
        description: The year this agent was born
      death_date:
        description: The year this agent died
      description:
        description: A biographical description of the agent
      ulan_id:
        description: Unique identifier of this agent in Getty's ULAN
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Place:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      latitude:
        description: Latitude coordinate of the center of the room
      longitude:
        description: Longitude coordinate of the center of the room
      tgn_id:
        description: Reconciled identifier of this object in the Getty's Thesauraus
          of Geographic Names (TGN)
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Gallery:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      latitude:
        description: Latitude coordinate of the center of the room
      longitude:
        description: Longitude coordinate of the center of the room
      tgn_id:
        description: Reconciled identifier of this object in the Getty's Thesauraus
          of Geographic Names (TGN)
      is_closed:
        description: Whether the gallery is currently closed
      number:
        description: The gallery's room number. For "Gallery 100A", this would be
          "100A".
      floor:
        description: The level the gallery is on, e.g., 1, 2, 3, or LL
      latlon:
        description: Latitude and longitude coordinates of the center of the room
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Exhibition:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      is_featured:
        description: Is this exhibition currently featured on our website?
      position:
        description: Numering position represnting the order in which this exhibition
          is featured on the website
      is_published:
        description: Is this exhibition currently published on our website? Only relevant
          for non-past exhibitions.
      short_description:
        description: Brief explanation of what this exhibition is
      web_url:
        description: URL to this exhibition on our website
      image_url:
        description: URL to the hero image from the website
      status:
        description: Whether the exhibition is open or closed
      aic_start_at:
        description: Date the exhibition opened at the Art Institute of Chicago
      aic_end_at:
        description: Date the exhibition closed at the Art Institute of Chicago
      gallery_id:
        description: Unique identifier of the gallery that mainly housed the exhibition
      gallery_title:
        description: The name of the gallery that mainly housed the exhibition
      artwork_ids:
        description: Unique identifiers of the artworks that were part of the exhibition
      artwork_titles:
        description: Names of the artworks that were part of the exhibition
      artist_ids:
        description: Unique identifiers of the artist agent records representing who
          was shown in the exhibition
      site_ids:
        description: Unique identifiers of the microsites this exhibition is a part
          of
      image_id:
        description: Unique identifier of the preferred image to use to represent
          this exhibition
      alt_image_ids:
        description: Unique identifiers of all non-preferred images of this exhibition.
      document_ids:
        description: Unique identifiers of assets that serve as documentation for
          this exhibition
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  AgentType:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  AgentRole:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  ArtworkPlaceQualifier:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  ArtworkDateQualifier:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  ArtworkType:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      aat_id:
        description: Identifier of reconciled (most similar) term in the Getty's Art
          and Architecture Thesaurus (AAT)
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  CategoryTerm:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      subtype:
        description: 'Takes one of the following values: classification, material,
          technique, style, subject, department, theme'
      parent_id:
        description: Unique identifier of this category's parent
      aat_id:
        description: Identifier of reconciled (most similar) term in the Getty's Art
          and Architecture Thesaurus (AAT)
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Image:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      lake_guid:
        description: Unique UUID of this resource in LAKE, our DAMS.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      type:
        description: 'Type always takes one of the following values: image, sound,
          text, video'
      alt_text:
        description: Alternative text for the asset to describe it to people with
          low or no vision
      content:
        description: Text of or URL to the contents of this asset
      is_multimedia_resource:
        description: Whether this resource is considered to be multimedia
      is_educational_resource:
        description: Whether this resource is considered to be educational
      is_teacher_resource:
        description: Whether this resource is considered to be educational
      credit_line:
        description: Asset-specific copyright information
      content_e_tag:
        description: Arbitrary unique identifier that changes when the binary file
          gets updated
      iiif_url:
        description: IIIF URL of this image
      width:
        description: Native width of the image
      height:
        description: Native height of the image
      lqip:
        description: Low-quality image placeholder (LQIP). Currently a 5x5-constrained,
          base64-encoded GIF.
      colorfulness:
        description: Unbounded positive float representing an abstract measure of
          colorfulness.
      color:
        description: Dominant color of this image in HSL
      fingerprint:
        description: 'Image hashes: aHash, dHash, pHash, wHash'
      ahash:
        description: Image hash generated using ahash algorithm with 64 boolean subfields
      phash:
        description: Image hash generated using phash algorithm with 64 boolean subfields
      artwork_ids:
        description: Unique identifiers of the artworks associated with this asset
      artwork_titles:
        description: Names of the artworks associated with this asset
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Video:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      lake_guid:
        description: Unique UUID of this resource in LAKE, our DAMS.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      type:
        description: 'Type always takes one of the following values: image, sound,
          text, video'
      alt_text:
        description: Alternative text for the asset to describe it to people with
          low or no vision
      content:
        description: Text of or URL to the contents of this asset
      is_multimedia_resource:
        description: Whether this resource is considered to be multimedia
      is_educational_resource:
        description: Whether this resource is considered to be educational
      is_teacher_resource:
        description: Whether this resource is considered to be educational
      credit_line:
        description: Asset-specific copyright information
      content_e_tag:
        description: Arbitrary unique identifier that changes when the binary file
          gets updated
      artwork_ids:
        description: Unique identifiers of the artworks associated with this asset
      artwork_titles:
        description: Names of the artworks associated with this asset
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Sound:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: Name of this mobile audio file – derived from the artwork and
          tour titles
      web_url:
        description: URL to the audio file
      transcript:
        description: Text transcription of the audio file
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Text:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      lake_guid:
        description: Unique UUID of this resource in LAKE, our DAMS.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      type:
        description: 'Type always takes one of the following values: image, sound,
          text, video'
      alt_text:
        description: Alternative text for the asset to describe it to people with
          low or no vision
      content:
        description: Text of or URL to the contents of this asset
      is_multimedia_resource:
        description: Whether this resource is considered to be multimedia
      is_educational_resource:
        description: Whether this resource is considered to be educational
      is_teacher_resource:
        description: Whether this resource is considered to be educational
      credit_line:
        description: Asset-specific copyright information
      content_e_tag:
        description: Arbitrary unique identifier that changes when the binary file
          gets updated
      artwork_ids:
        description: Unique identifiers of the artworks associated with this asset
      artwork_titles:
        description: Names of the artworks associated with this asset
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Product:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      external_sku:
        description: Numeric product identification code of a machine-readable barcode,
          when the customer sku differs from our internal one
      image_url:
        description: URL of an image for this product
      web_url:
        description: URL of this product in the shop
      description:
        description: Explanation of what this product is
      price_display:
        description: Explanation of what this product is
      min_compare_at_price:
        description: Number indicating how much the least expensive variant of a product
          cost before a sale
      max_compare_at_price:
        description: Number indicating how much the most expensive variant of a product
          cost before a sale
      min_current_price:
        description: Number indicating how much the least expensive variant of a product
          costs right now
      max_current_price:
        description: Number indicating how much the most expensive variant of a product
          costs right now
      artist_ids:
        description: Unique identifiers of the artists associated with this product
      artwork_ids:
        description: Unique identifiers of the artworks associated with this product
      exhibition_ids:
        description: Unique identifiers of the exhibitions associated with this product
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Tour:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      image:
        description: The main image for the tour
      description:
        description: Explanation of what the tour is
      intro:
        description: Text introducing the tour
      weight:
        description: Number representing this tour's sort order
      intro_link:
        description: Link to the audio file of the introduction
      intro_transcript:
        description: Transcript of the introduction audio to the tour
      artwork_titles:
        description: Names of the artworks featured in this tour's tour stops
      artist_titles:
        description: Names of the artists of the artworks featured in this tour's
          tour stops
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Publication:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      web_url:
        description: URL to the publication
      section_ids:
        description: Unique identifiers of the sections of this publication
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Section:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      web_url:
        description: URL to the section
      accession:
        description: An accession number parsed from the title or tombstone
      generic_page_id:
        description: Unique identifier of the page on the website that represents
          the publication this section belongs to
      artwork_id:
        description: Unique identifier of the artwork with which this section is associated
      publication_title:
        description: Name of the publication this section belongs to
      publication_id:
        description: Unique identifier of the publication this section belongs to
      content:
        description: Content of this section in plaintext
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
        description: Internal field to power the `/autosuggest` endpoint. Do not use
          directly.
      source_updated_at:
        description: Date and time the resource was updated in the source system
      updated_at:
        description: Date and time the record was updated in the aggregator database
      timestamp:
        description: Date and time the record was updated in the aggregator search
          index
    type: object
  Site:
    properties:
      id:
        description: Unique identifier of this resource. Taken from the source system.
      api_model:
        description: REST API resource type or endpoint
      api_link:
        description: REST API link for this resource
      title:
        description: The name of this resource
      description:
        description: Explanation of what this site is
      web_url:
        description: URL to this site
      exhibition_ids:
        description: Unique identifier of the exhibitions this site is associated
          with
      exhibition_titles:
        description: Names of the exhibitions this site is associated with
      artwork_ids:
        description: Unique identifiers of the artworks this site is associated with
      artwork_titles:
        description: Names of the artworks this site is associated with
      suggest_autocomplete_boosted:
        description: Internal field to power the `/autocomplete` endpoint. Do not
          use directly.
      suggest_autocomplete_all:
[...]
